.alert {
  position: absolute;
  z-index: 1;
  right: 0.5rem;
  top: 0.5rem;

  padding: 20px;
  background-color: #1d8a72;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}